html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input[type="search"] {
  padding: .2em .4em;
  border-radius: .2em;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  background-color: white;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

:root {
  --light-green: #319975;
  --dark-green: #136e13;
  --dark-grey: #777;
  --light-grey: #dadce0;
}


a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

a.button {
  border: 2px solid #108d10;
  color: white;
  border-radius: 4px;
  padding: 6px 24px;
  font-size: 14px;
  font-weight: 400;
}

a.button:hover {
  text-decoration: none;
  border-color: #84ee84;
  color: white;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #103E2E;
  padding: 5px 10px;
  align-items: center;
}

.logo {
  color: white;
  font-family: 'Freckle Face', cursive;
  text-decoration: none;
  font-size: 30px;
}
.github {
  height: 30px;
  width: 30px;
}
.head-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avo {
  height: 40px;
  width: 40px;
  margin: 0 10px;
}

form {
  height: calc(100% - 10px);
}

.search-input {
  width: 500px;
  height: 100%;
  border-color: transparent;
  background-color: #0a3023;
  color: white;
  font-size: 16px;
  line-height: 1.4;
  padding-left: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.mini {
  font-size: 10px;
  color: white;
  margin-bottom: 10%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 20px 40px;
}

.result-count {
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 15px;
}

.search-results {
  list-style: none;
}

.news-article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  border: 1px solid var(--light-grey);
  padding: 15px;
  border-radius: 4px;
  justify-content: space-between;
}

.article-image {
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 20px;
}

.title {
  margin-bottom: 15px;
}

.description {
  color: var(--dark-grey);
  margin-bottom: 15px;
}

.metadata {
  display: flex;
  color: var(--dark-green);
  font-size: 14px;
}

.published-date::before {
  content: '\0000a0\002022\0000a0';
  margin: 0 3px;
}

.pagination {
  margin-top: 20px;
}

.previous-page {
  margin-right: 20px;
}

@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }

  .logo {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Freckle Face', cursive;
    text-decoration: none;
  }

  form, .search-input {
    width: 100%;
  }

  .github-button {
    display: none;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .article-image {
    display: none;
  }
}
